@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 *{
	margin: 0;
	padding: 0;
	color: aliceblue;
	text-align: center;
 }
body{
	font-family: 'Pacifico', cursive;
	background-color: gray;
}
header{
	background-color: black;
	padding: 10px;
	position:sticky;
    left: 0; top: 0; /* Левый верхний угол */
	width: 100%;
	z-index: 2;
} 
footer{
	background-color: black;
	padding: 2px;
	position:sticky;
	z-index: 1;
    left: 0; bottom: 0; /* Левый нижний угол */
	width: 100%;
}
main{
	padding: 10px;
	margin: auto;
	font-family: Georgia, serif;
	position:relative;
}
#jsTable{
	
	border-collapse: collapse;
	display: grid;
	width: 100%;
	max-width: 1200px;
	overflow: hidden;
	grid-template-columns:
    minmax(150px, 4fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 2fr)
    minmax(150px, 4fr);

}

#jsTable td{
	padding: 10px;
	border: solid ;
}
#jsTable th{
	padding: 10px;
	border: solid blue;
}
input{
	padding: 15px;
	background-color: black;
}
button{
	padding: 15px;
	background-color: black;
}
select{
	padding: 15px;
	background-color: black;
}
#jsTable th span,
#jsTable td span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#jsTable th{
	position: relative;
}
#jsTable td{
	position: relative;
	overflow: hidden;
}
#jsTable  thead,
#jsTable  tbody,
#jsTable  tr {
  display: contents;
}
.resize-handle {
	display: block;
	cursor: col-resize;
	width: 7px;
	position: absolute;
	right: 0;
	top:0;
	z-index: 1;
	border-right: 2px solid transparent;
}
  
.resize-handle:hover {
	border-color: #05fc2e;
}
  
.resize-handle.active {
	border-color: #517ea5;
}

.userInfoDiv{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 238, 255, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
 	opacity: 0;
	z-index: 2;
	pointer-events: none;

}
.userInfoDiv.active{
	opacity: 1;
	pointer-events: all;
}
#info{
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
}